.block1 {
			display: none;
		}
		
		.block1:target {
		display: block;
		}
.block2 {
			display: none;
		}
		
		.block2:target {
		display: block;
		}
	 
.text1 {background-color: #ffc0cb;
	border: 5px inset #850014;
	padding: 50px; 
	first-letter 
    	font-size: 3em; /* Размер буквы */
   	color: red; /* Цвет буквы */
    	float: left; /* Выравнивание по левому краю */
   	margin: 0 4px 2px 0; /* Отступы вокруг буквы */  }

body{background-color:#ffe4e1;}
